{% extends "base.html" %}

<style>
#tweet-container {

}
</style>

{% block script %}
<script>
$(document).ready(function(){
  console.log("working");

      
          
  $.ajax({
    url: "/api/tweet/",
    method: "GET",
    success: function(data){
      // console.log(data)
      $.each(data, function(key, value){
          var tweetKey = key;
          var tweetContent = value.content;
          var tweetUser = value.user;
          $("#tweet-container").append(
              "<div class=\"media\"><div class=\"media-body\">" + tweetContent + "<br/> via " + tweetUser.username + " | " + "<a href='#'>View</a>" + "</div></div><hr/>"
          )
      })
    },
    error: function(data){
      console.log("error")
      console.log(data)
    }
  })





});
</script>
{% endblock script %}



{% block content %}

   
    <div class='row'>
        <div class='col-sm-3 col-xs-12' style='background-color:red;'>
        <h1>{{ request.user }}</h1>
        </div>
        <div class='col-sm-9 '>
             {% if not request.GET.q %}
                <div class=''>
                    
                    {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' %}

                </div>
                <hr/>
            {% endif %}

            <div id='tweet-container'>


          </div>


        {% for object in object_list %}
            <div class="media">
                  <div class="media-left">
                    <a href="#">
                      {% if object.image %}
                        <img class="media-object" src="..." alt="...">
                     {% endif %}
                    </a>
                  </div>
                  <div class="media-body">
                    {{ object.content }}<br/>
                    via {{ object.user }} | {{ object.timestamp|timesince }} ago | <a href='{{ object.get_absolute_url }}'>View</a>
                  </div>
            </div>
            <hr/>
        {% empty %}
            {% if request.GET.q %}
             <p>No tweets found.</p>
            {% else %}
            <p>No tweets yet.</p>
            {% endif %}
        {% endfor %}

        </div>
    </div>

{% endblock content %}